<!DOCTYPE html>
<html>
    <head><title> Register </title></head>
    <body>
        <h2> Register </h2>

        <style>
            h5 { color: brown;}
        </style>
        {% for message in messages %}
        <h5> {{message}} </h5>
        {% endfor %}


        <form method="post" action="register"> 
            {% csrf_token %}
            <p>Username: </p>
            <input type="text" name="username">
            <p>Email: </p>
            <input type="email" name="emailid">
            <p>Password: </p>
            <input type="password" name="pasword">
            <p>Re-enter Passwrord: </p>
            <input type="password" name="pasword2">
            <br><br>
            <input type="submit">
        </form>
        <br>
        <p>already registered? :<a href="login"> Login here</a></p>
    </body>
</html>